<%- include('partials/header') %>

<main>
  <h1>Página No Encontrada</h1>
  <p>Lo sentimos, la página <strong><%= url %></strong> no fue encontrada.</p>
  <p><a href="/">Volver al Inicio</a></p>
</main>

<%- include('partials/flashMessages') %>
<%- include('partials/footer') %>
